body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    background: transparent;
    transition: background ease-out 0.2s;
}

#header a{
    margin-left: 15px;
}

#header.active {
    position: fixed;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#header .navbar-collapse {
    width: auto;
    justify-content: flex-end;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 5;
    margin-left: 20px;
    color: var(--primary-dark);
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px var(--secudary);
    color: var(--primary);
}

#slider {
    background-size: contain;
    height: 80vh;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 900;
}

#slider h4 {
    font-size: 18px;
}

#sobre {
    background: var(--medium);
    padding-bottom: 1vw;
}

 #sobre .underline {
    height: 3px;
    width: 4em;
    background: var(--primary);
}

#sobre .wpp {
    margin-top: 2vw;
    margin-left: 2em;
    background: #fff;
}

#sobre .row a button{
    background: var(--primary);
    color: #fff;
    font-weight: 600;
}

#sobre .subtitle {
    color: var(--dark);
}
#sobre a  {
    text-decoration: none;
}

#servicos .destaque {
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: all ease-out 0.2s;
    color: var(--dark);
}

#servicos .underline {
    height: 2px;
    width: 100%;
    background: var(--primary);
}

#servicos .destaque p {
    text-align: justify;
}

#servicos .destaque:hover {
    background: var(--medium);
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.12);
    transform: scale(1.02);
    color: var(--dark)
}

#servicos .destaque .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#servicos .destaque .img-container img {
    max-height: 160px;
}

#servicos a {
    text-decoration: none;
    text-align: right;
    margin-top: 2em;
}

#contato .email {
    border-radius: 5px;
    background: var(--medium);
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 30px;
  }

  #contato .email img {
    position: absolute;
    left: 30px;
    top: -30px;
  }

  #contato .email h4 {
      color: var(--dark);
  }

  #contato .email a{
      text-decoration: none;
  }

  #contato .email a button { 
      border-radius: 5px;
      background: var(--primary);
      color: #ffffff;
      position: relative;
      margin-left: 5px;
      top: 24px;
      text-transform: uppercase;
      border: none;
  }

  #contato .email a button:hover {
      background: #24882b;
  }

#contato .social-footer {
    background: #222821;
    color: #ffffff;
    padding-left: 50px;
}

#contato .social-footer h5 {
    color: #ffffff;
}