body, html {
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100%;
    background: transparent;
    transition: background ease-out 0.2s;
}

#header .social {
    margin-left: 0;
    display: inline-block;
}

#header .social a {
    margin-left: 1em;
}

#header.active {
    position: fixed;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

#header .navbar-collapse {
    width: auto;
    justify-content: flex-end;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 5;
    margin-left: 20px;
    color: var(--primary-dark);
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px var(--secudary);
    color: var(--primary);
}

#slider {
    background-size: contain;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 900;
}

#slider h4 {
    font-size: 18px;
}

#sobre {
    background: var(--medium);
    padding-top: 20px;
    padding-bottom: 20px;
}

#sobre .subtitle {
    color: var(--dark);
}

#servicos a.destaque {
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: all ease-out 0.2s;
    color: var(--dark);
}

#servicos a.destaque p {
    text-align: justify;
}

#servicos a.destaque:hover {
    background: var(--secudary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    transform: scale(1.02);
    color: var(--dark)
}

#servicos a.destaque .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#servico a.destaque .img-container img {
    max-height: 160px;
}

#clientes a.link-cliente {
    padding: 0 15px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-items: center;
    border: solid 1px var(--ligth);
    height: 100px;
    transition: all ease-out 0.2s;
}

#clientes a.link-cliente:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

#clientes a.link-cliente img {
    filter: grayscale(100%);
    max-height: 70%;
    width: 100%;
    opacity: 0.6;
}

#clientes a.link-cliente img:hover {
    filter: none;
    opacity: 100%;
}

#clientes .cliente-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background: var(--ligth);
    border-radius: 5px;
}

#clientes .cliente-text .image {
    padding: 60px 0;
    display: flex;
    align-items: center;
    margin-left: -40px;
    color: #b4b4b4;
    font-size: 24px;
    line-height: 26px;
}

#clientes .cliente-text .image span {
    color: var(--secudary);
    font-size: 110px;
    line-height: 110px;
    letter-spacing: -10px;
    font-weight: 900;
    display: block;
}

#clientes .cliente-text .phone {
    display: flex;
    font-size: 14px;
    color: #b4b4b4;
}

#clientes .cliente-text .phone span {
    font-size: 24px;
    color: #797979;
    font-weight: 900;
    display: block;
    padding-left: 10px;
}

#clientes .cliente-text .phone p {
    padding-left: 10px;
}

#galeria .badge {
    font-weight: 400;
}

#galeria .element-item img {
    border-radius: 5px;
    transition: all ease-out 0.2s;
}

#galeria .element-item img:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

#galeria .button-group {
    margin-bottom: 30px;
}

#galeria .button-group button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
    outline: none;
}

#galeria .button-group button + button {
    margin-left: 30px;
}

#galeria .button-group button.active {
    color: var(--primary);
}

#contato .email {
    border-radius: 5px;
    background-color: var(--secudary);
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 30px;
  }

  #contato .email img {
    position: absolute;
    left: 30px;
    top: -30px;
  }

  #contato .email h4 {
      color: var(--dark);
  }

  #contato .email a button { 
      border-radius: 5px;
      background: var(--primary);
      position: relative;
      margin-left: 5px;
      top: 24px;
      text-transform: uppercase;
      border: none;
      text-decoration: none;
  }

  #contato .email a button:hover {
      background: #24882b;
      text-decoration: none;
  }

  #contato ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
  }

#contato ul li {
    display: flex;
    list-style: none;
    margin-left: 25px;
}

#contato ul li:first-child {
    margin-left: 0;
}

#contato ul li a {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    transition: all ease-in 0.2s;
}

#contato ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 4);
    height: 50px;
    width: 50px;
}

#contato .contato .row{
    width: 100%;
    margin: 0;
}

#contato .social-footer {
    background: #222821;
    color: #ffffff;
    padding-left: 50px;
}

#contato .social-footer h5 {
    color: #ffffff;
}